#################################################################################
# Placing a # in front of any of the items listed below (e.g., #analyzer) will  #
# allow these items to be pushed to your Git repository. Keep in mind the more  #
# files you push to your repository, the more your performance may be affected. #
#################################################################################

one/two/three/binddetection/Output
one/two/three/binddetection/Analyzer
one/two/three/binddetection/FileSync
one/two/three/binddetection/Project/Users
one/two/three/binddetection/.gitignore
one/two/three/binddetection/.svn
**/Thumbs.db

#################################################################################
# Add items to be ignored below                                                 #
#################################################################################

one/two/three/central/Output
one/two/three/central/Analyzer
one/two/three/central/FileSync
one/two/three/central/Project/Users
one/two/three/central/.gitignore
one/two/three/central/.svn
